@font-face {
  font-family: 'Lakes';
  src: url(../fonts/AnyConv.com__TTLakes-Regular.woff2),
    url(../fonts/TTLakes-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Lakes';
  src: url(../fonts/TTLakes-Bold.woff2), url(../fonts/TTLakes-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: 'Lakes';
  src: url(../fonts/TTLakes-Medium.woff2), url(../fonts/TTLakes-Medium.woff);
  font-weight: 500;
}
$px16: 16px;
$px-16: -16px;
$bold: 700;
$medium: 500;
$regular: 400;
$colorWhite: #fff;
$colorGray: #7e7e82;
$colorLightBlue: #d9fff5;
$colorBorder: #d9fff5;
$colorBorderElement: #eaeaea;
$colorPink: #ff3e79;
$colorBody: #f8f8f8;

%headers-gray {
  display: inline-block;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: $regular;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
  width: 100%;
  background: linear-gradient(90deg, $colorBody 0%, $colorWhite 98.61%);
  padding: 20px;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $colorBody;
  font-family: Lakes;
  margin-left: $px16;
}
.hidden {
  display: none;
}
.opacity {
  opacity: 0.5;
}
