.feedback {
  width: 320px;
  margin-left: -16px;
  flex-shrink: 0;
  background: $colorWhite;
}
.feedblock {
  width: 100vw;
  height: 130vw;
  background-color: $colorWhite;
  margin-left: 32px;
}
.callblock {
  width: 100vw;
  height: 130vw;
  background-color: $colorWhite;
  margin-left: 32px;
}
.feedback__burger-close {
  margin-top: 16px;
  margin-inline: auto;
}
.feedback__header {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: $bold;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
  margin-top: 30px;
}
.feedback__box {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.feedback__input {
  list-style: none;
  justify-content: space-around;
}
.feedback__input-elem {
  flex-shrink: 0;
  margin-top: 16px;
  width: 288px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid $colorBorderElement;
  background: $colorWhite;
  color: #b5b6bc;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.feedback__confidential {
  font-size: 14px;
  width: 320px;
}
.feedback_pink {
  color: $colorPink;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.vision-absolute {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.open-feedback {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.feedback__send-btn {
  margin-left: 50%;
}

@media (min-width: 380px) {
  .open-callback {
    text-align: center;
  }
  .open-feedback {
    text-align: center;
  }
  .feedback__confidential {
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .feedback {
    left: auto;
    text-align: start;
    .callblock {
      width: 320px;
      margin-left: 16px;
    }
    .feedblock {
      width: 320px;
      margin-left: 16px;
    }
    .feedback__burger-close {
      position: absolute;
      margin-left: -65px;
      margin-top: -5px;
    }
  }
}
